img {
  display: block;
  max-width: 100%;
  height: auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.search-form {
  margin-top: 2em;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  justify-items: center;
  flex-direction: column;
}
